:root{
    --nav:#011b2e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    
}

nav{
    display: flex;
}

 header{
    /* position: fixed; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
    background-color: var(--nav);
 }

 header h1 a{
    margin-top: 4%;
    list-style: none;
    text-decoration: none;
    color: white;
}

 header,aside {
    flex: 1 0 50%;
    padding-left: 2%;
 }

 h3{
    flex: 1 0 50%;
    padding-right: 2%;
 }


 nav li a{
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 header nav{
    flex: 1 0 50%;
    display:flex;
 }

header ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
   
}
header li{
    list-style: none;
    padding-right: 10%;
}

main,footer{
    display: flex;
    flex-wrap: wrap;
}

aside{
    margin-top: 3%;
    border-right: 2px solid  var(--nav);
    flex: 1 0 15%;
    display: flex;
    justify-content: end;
    padding: 1% 2%;
}
section{
    flex: 1 0 80%;
    padding: 1% 2%;
}

footer li a{
    margin-top: 4%;
    list-style: none;
    text-decoration: none;
    color: white;
}

footer li{
    margin-top: 4%;
    list-style: none;
}

footer ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer{
    margin-bottom: 5%;
}

#secondImage img{
    flex-wrap: wrap;
    display: flex;
    width: 1000px;
    height: 500px;
    align-items: center;
    box-shadow:-1px -1px 6px 0 rgb(159, 7, 7), 4px 4px 16px 2px rgb(1, 12, 130);
}

.firstImg{
    background: url(../images/screen.jpg);
    background-size: contain;
    height: 57vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 5%;
}

main section p{
    margin-top: 3%;
    display: flex;
    padding-left: 7%;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 5%;
    text-align: justify;
    font-size:0.6cm;
    box-shadow:-1px -1px 6px 0 rgb(159, 7, 7), 4px 4px 16px 2px rgb(1, 12, 130);
}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}
.skills section{
    flex: 1 0 45%;
}


.skills img {
    width: 100%;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow:-1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);
}

.imagen:hover {filter: saturate(180%);}

.image-text {
    position: absolute;
    top: 10%;
    left: 24%;
    transform: translate(-20%, -50%);
    z-index: 1;
    color: white;
    font-size: 90px;
    font-weight: 900;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 3px black;
  }

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    header
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    header,
    footer {
      background-color: #bb8588;
    }
  }
  
  @media screen and (max-width: 600px) {
    .firstImg {
      max-width: 50%;
    }
  }