*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
}

header li{
    padding: 5%;
}

header h1{
    flex: 1 0 50%;
    padding-left: 7%;
}

header nav{
    flex: 1 0 50%;
}

.firstImg{
    background-image: url(https://placehold.co/1150x250);
    background-size: contain;
    height: 50vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5%;
    background-repeat: no-repeat;
}

aside{
    border-right: 2px solid black;
    flex: 1 0 15%;
    display: flex;
    justify-content: end;
    padding: 1% 2%;
}

main{
    display: flex;
    padding-left: 20%;
    margin-top: 3%;
}

main section p{
    display: flex;
    padding-left: 7%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 5%;
    text-align: justify;
}

.prueba{
    display: flex;
    padding-left: 20%;
    padding-top: 3%;
}

.secondImg{
    background-image: url(https://placehold.co/720x250);
    background-size: contain;
    height: 45vh;
    width: 75%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    margin-left: 10%;
}

.skills{
    position: relative;
    display: flex;
    flex: 1 0 25%;
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.thirdImg{
    flex: 1 0 25%;
    background-image: url(https://placehold.co/350x120);
    background-size: contain;
    height: 15vh;
    width: 28%;
    background-repeat: no-repeat;
    margin-left: 10%;
    list-style: none;
}
.fourImg{
    flex: 1 0 25%;
    background-image: url(https://placehold.co/350x120);
    background-size: contain;
    height: 15vh;
    width: 28%;
    background-repeat: no-repeat;
    margin-left: 65%;
    list-style: none;
    position: relative;
    bottom: 20%;
}
.fiveImg{
    flex: 1 0 25%;
    background-image: url(https://placehold.co/350x120);
    background-size: contain;
    height: 15vh;
    width: 28%;
    background-repeat: no-repeat;
    margin-left: 10%;
    list-style: none;
}
.sixdImg{
    flex: 1 0 25%;
    background-image: url(https://placehold.co/350x120);
    background-size: contain;
    height: 15vh;
    width: 28%;
    background-repeat: no-repeat;
    margin-left: 10%;
    list-style: none;
}