:root{
    --nav:#011b2e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

 header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
    background-color: var(--nav);
 }

 header h1{
    flex: 1 0 50%;
    
    padding-left: 2%;
 }

 nav li a{
    color: white;
 }

 header nav{
    flex: 1 0 50%;
    display:flex;
 }

header ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
   
}
header li{
    list-style: none;
    padding-right: 10%;
    
}

main,footer{
    display: flex;
    flex-wrap: wrap;
}

aside{
    margin-top: 3%;
    border-right: 2px solid  var(--nav);
    flex: 1 0 15%;
    display: flex;
    justify-content: end;
    padding: 1% 2%;
}
section{
    flex: 1 0 80%;
    padding: 1% 2%;
}

footer li{
    list-style: none;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#secondImage img{
    display: flex;
    width: 1000px;
    height: 500px;
    align-items: center;
    box-shadow:-1px -1px 6px 0 rgb(159, 7, 7), 4px 4px 16px 2px rgb(1, 12, 130);
}

.firstImg{
    background: url(../images/screen.jpg);
    background-size: contain;
    height: 57vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 5%;
}

main section p{
    margin-top: 3%;
    display: flex;
    padding-left: 7%;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 5%;
    text-align: justify;
    font-size:0.6cm;
    box-shadow:-1px -1px 6px 0 rgb(159, 7, 7), 4px 4px 16px 2px rgb(1, 12, 130);
}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}
.skills section{
    flex: 1 0 45%;
}

.skills img{
    width: 100%;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow:-1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);
}

